@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply bg-[#212121];
}
.custom-gradient {
  background-image: linear-gradient(
    to right,
    #ea4335,
    #fbbc05,
    #34a854,
    #4285f4
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
